<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Title in the tab</title>

		<!-- external CSS link -->
		<!-- <link rel="stylesheet" href="css/normalize.css">-->
		<link rel="stylesheet" href="style.css"> 
	</head>
	<body>
		<h1>Inventory</h1>



		<form action="/inventory" method="POST">
			<input type="text" name="new_part" id="new_part">
			<input type="text" name="new_model" id="new_model">

			<button type="submit"> send</button>

		</form>
		<section>
			<h3>inventory numbers:</h3>
			<button id="update" class="update_inventory">update inventory</button>
		</section>
		
		<ol id="inventory">
			<% for(let i =0; i<inventory.length; i++) {%>

				<%if(inventory[i].instock > 7){%>
					<li class="partnumber good-stock">
				<%}else if(inventory[i].instock >= 4 ){%>
					<li class="partnumber medium-stock">
				<%}else{%>
					<li class="partnumber low-stock">
				<%} %>


				<!-- <li class="partnumber good-stock"> -->
					<section>
						<span class="part_id"><%= inventory[i].partnumber %></span>
						<span class="model_id"><%= inventory[i].model %></span>
						<input class="quantity" type="number" value=<%= inventory[i].instock %>>
						<span>instock: <span class="instock"><%= inventory[i].instock %></span> </span>
						</input>
						
						
					</section>
					<button id="add-button">
						increase amount
					</button>
			
					<button id="reduce-button">
						reduce amount
					</button>
				</li>
				

			<% } %>
		</ol>
			
		

		<button id="add-button">
			increase amount
		</button>

		<button id="reduce-button">
			reduce amount
		</button>
		

		<script  src="main.js"></script>
	</body>
</html>
