<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Title in the tab</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="style.css"> 

	</head>
	<body>
		<h1>Inventory</h1>

		<!-- add new part to inventory form -->
		<form action="/inventory" method="POST">

			<legend>add new partnumber</legend>
				<input type="text" placeholder="part number"  name="part" id="newPart" required>

				<input type="text" placeholder="engine model" name="model" id="newModel" required >

				<input type="number"  name="quantity" id="newQuantity" min="0" max="20"  value="0">
				<button type="submit"> send</button>	
		</form>




		<section>
			<h3>inventory numbers:</h3>
			<button id="update" class="update_inventory">Update All Inventory</button>
		</section>
		
		<!-- inventory list -->
		<ol id="inventory">
			<% for(let i =0; i<inventory.length; i++) {%>

				<%if(inventory[i].instock > 7){%>
					<li class="partnumber good-stock" >
				<%}else if(inventory[i].instock >= 4 ){%>
					<li class="partnumber medium-stock">
				<%}else{%>
					<li class="partnumber low-stock">
				<%} %>


				<!-- partnumber entry into DOM -->
				
					<section class="part-info" >
						<!-- part number -->
						<div class="part_id">
							<span ><%= inventory[i].partnumber %></span>
						</div>
						
						<!-- engine model  -->
						<div class="model_id">
							<span ><%= inventory[i].model %></span>
						</div>
						
						

						<!-- quantity changed requested -->
						<div class="quantity">
							<input type="number" disabled value=<%= inventory[i].instock %>></input>
						</div>
						

						<!-- current quantity in api -->
						<div class="instock">
							<span>instock: <span ><%= inventory[i].instock %></span> </span>
						</div>
						
						
						
					</section><!--
					  

					--><div class="controls">
						<section class="delete-sect">
							<details>
								<summary>delete</summary>
								<button data-button="delete-button">
									delete
								</button>
							</details>		
						</section>
	
						<section class="">
							<section class="inventory-change">
								<button data-button="add-button">
									increase amount
								</button><!--
								
						
								  --><button data-button="reduce-button">
									reduce amount
								</button>
							</section>
						
							<section class="delete">
								<button data-button="update-button">
									update
								</button>
							</section>
						</section>
					</div>


					
					
				</li>
				

			<% } %>
		</ol> 
		<!-- end of part listing -->
			
		

		<script  src="main.js"></script>
	</body>
</html>
