

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>login</title>
   
</head>
<h1>Login</h1>
<body class="">
      
   
    <div class="container login-container">
        <div class="card  light-blue lighten-5">
            <div class="card-content">
                <form action="/login" method="post" >
                    <label for="email">email
                        <input type="text" name="email" id="email">
                    </label>
                    <!-- <label for="email">username
                        <input type="text" name="email" id="email">
                    </label> -->
                    <label for="password">password
                        <input type="password" name="password" id="password">
                    </label>

                    <button>Submit</button>
                </form>

            </div>
        </div>
        <section class="container">
            <div class="card">
                <a class= "" href="/signup">
                    <span class="">Register Here</span>
                </a>
            </div>
           
        </section>
    </div>

    
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>