h1{
    color:rgb(54, 116, 145);
}



.good-stock{
    background-color: rgb(102, 174, 69);
}
.medium-stock{
    background-color: rgb(174, 169, 69);
}
.low-stock{
    background-color: rgb(174, 97, 69);
}


li{
    width: 100%;
    border: gray 1px solid;
    background-color: rgb(102, 174, 69);
}

    li span{
    
        display: inline-block;
        width: 30%;
    }






/* STYLE */

