*{
    box-sizing: border-box;
    margin: 0;
    
}



body{
   width: 100%;
   padding: 2px;
}

input{
    width: 100%;
   
}

h1{
    
    color:rgb(54, 116, 145);
}
body{
    font-size: 2rem;
   
}

section, form{
    border: 3px green dashed;
}

button{
    cursor: pointer;
}
button:hover{
    background-color: rgb(183, 195, 205);
}
button:active{
   background-color: green;
}




/* typography */

h1{
    font-size: 1.5rem;
}
input{
    font-size: 3rem;
}

button{
    font-size: 1.5rem;
}

li{
    
    list-style: none;
    font-size: 3rem;
}
.delete-sect{
    font-size: 1.5rem;
}









/* STYLES */

.add-part{
    background-color: aquamarine;
}
.good-stock{
    background-color: rgb(102, 174, 69);
}
.medium-stock{
    background-color: rgb(174, 169, 69);
}
.low-stock{
    background-color: rgb(174, 97, 69);
}

.partnumber{
    border-radius: 10px;

}

ol{
    margin: 0;
    padding:0;
    width: 100%;
}

li{
    
    width: 100%;
    border: gray 1px solid;
    background-color: rgb(102, 174, 69);
    padding: 5px;
    margin: 5px 0;
    min-height: 300px;
    
}

  
    .part_id,
    .model_id,
    .quantity{
        width: 100%;
       
    }

    .part_id{
        background-color: rgb(105, 135, 135);
    }
    .delete-sect{
        display: inline-block;
        width: 20%;
    }





   
      
        .inventory-change button{
            width: 49%;
            display: inline-block;
        }
        .inventory-change button::selection{
            background-color: aqua;
        }






